
.timer{
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digits{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  #f5f5f5;
}

.mili-sec{
    color:  #e42a2a;
}
